# Ignorowane pliki i foldery
__pycache__/
*.pyc
.env
*.sqlite3
instance/
.flask_session/
flask_session/
*.log
.DS_Store
__pycache__/
*.pyc
.env
*.env
flask_session/
*.db
.DS_Store

poprawka
poprawka.patch
patch
porawka.patch
import os
